*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.nav-center {
       
      margin: 0%;
      padding: 0%;
      color:rgb(71, 101, 182);
      text-align: center;
      justify-content:space-evenly;
      display: inline;
      padding:5px;
      text-decoration: none;
      width:100%;
      background-color:rgb(237, 237, 243);
      display: inline-block;


}
.nav-link,ul,li,a{
      color: black;
      display: inline;
      text-decoration: none;
}
.container{
     margin: 60px;
     padding:60px;
     justify-content: center;

}